<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Steve Kounga</h2>
    </div>
    <img src="https://resize-elle.ladmedia.fr/rcrop/638,,forcex/img/var/plain_site/storage/images/societe/l-actu-en-images/citations-de-nelson-mandela/88817675-1-fre-FR/20-citations-positives-et-inspirantes-de-Nelson-Mandela.jpg" alt="Mandela">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="sous">Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/managements">Managements</a>
   <br/>

   <h2 matSubheader>Tools</h2>

   <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    leads
  </a>

</mat-nav-list>

