ul li {
  list-style: none;
}

@media (max-width: 599px) {
  mat-nav-list ul li {
    display: none;
  }
}

/*mat-toolbar {
  background-color: #f2fde4;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}*/

/*.active_link {
  color: #29b6f6;
  border-bottom: solid 3px #29b6f6;
}*/
